script.
  var _gaq = [['_setAccount', 'UA-44959535-1'], ['_trackPageview']];
  (function (d, t) {
    var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
    g.src = '//www.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g, s)
  }(document, 'script'));

script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js')
script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js')

script.
  $(document)
    .ready(function () {
      new WOW().init();
      $("a")
        .on('click', function (event) {
          // Make sure this.hash has a value before overriding default behavior
          if (this.hash !== "") {
            // Prevent default anchor click behavior
            event.preventDefault();
            // Store hash
            var hash = this.hash;
            // Using jQuery's animate() method to add smooth page scroll
            // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
            $('html, body')
              .animate({
                scrollTop: $(hash)
                  .offset().top
              }, 800, function () {
                // Add hash (#) to URL when done scrolling (default click behavior)
                window.location.hash = hash;
              });
          } // End if
        });
    });

//Firebase
script(type='text/javascript', src="https://www.gstatic.com/firebasejs/3.6.6/firebase.js")
script(type='text/javascript', src="/js/firebase.config.js")

script(type='text/javascript', src='/lib/underscore/underscore-min.js')

//AngularJS
script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js')
script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js')
script(type='text/javascript', src='https://code.angularjs.org/1.4.0/angular-resource.js')
script(type='text/javascript', src='https://code.angularjs.org/1.4.0/angular-cookies.js')

script(type='text/javascript', src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js")

//Angular UI
script(type='text/javascript', src='/lib/angular-bootstrap/ui-bootstrap-tpls.js')
script(type='text/javascript', src='/lib/angular-ui-utils/modules/route.js')

script(type='text/javascript', src='/lib/emojionearea/emojione.js')
script(type='text/javascript', src='/lib/emojionearea/emojionearea.min.js')

//Application Init
script(type='text/javascript', src='/js/init.js')
script(type='text/javascript', src='/js/app.js')
script(type='text/javascript', src='/js/directives.js')
script(type='text/javascript', src='/js/filters.js')

//Application Services
script(type='text/javascript', src='/js/services/global.js')
script(type='text/javascript', src='/js/services/socket.js')
script(type='text/javascript', src='/js/services/game.js')

//Application Controllers
script(type='text/javascript', src='/js/controllers/index.js')
script(type='text/javascript', src='/js/controllers/header.js')
script(type='text/javascript', src='/js/controllers/game.js')
script(type='text/javascript', src='/js/controllers/chat.js')
script(type='text/javascript', src='/js/init.js')

//Socket.io Client Library
script(type='text/javascript', src='/socket.io/socket.io.js')

//Livereload script rendered
//script(type='text/javascript', src='http://localhost:35729/livereload.js')
