
<div ng-cloak id="cards-container" class="card-panel dark-pink" ng-hide="game.state === 'game ended' || game.state ==='game dissolved'">
  <span ng-show="winnerPicked()"></span>
  <div class="row par hand">
    <div ng-style="{'cursor':'pointer'}" class="card smallest" id='answers' ng-click="pickCard(card)" ng-hide="showTable || isCzar()"
    ng-repeat="card in game.players[game.playerIndex].hand track by $index" ng-animate="{enter:'animated fadeInUp', leave: 'animated fadeInOut'}">
      <div class="col s12 l5">
        <div class="card-panel white minH dark-pink-text">
          <span>{{card.text}}</span>
          <span id='selection-number' ng-show="showFirst(card)"> 1 </span>
          <span id='selection-number' ng-show="showSecond(card)"> 2 </span>
        </div>
      </div>
    </div>
  <span ng-repeat="answer in game.table">
    <div class="card smallest" ng-style="pointerCursorStyle()" id='table' ng-click="pickWinning(answer)" ng-show="showTable || isCzar()"
      ng-repeat="card in answer.card" ng-animate="{enter:'animated bounceInLeft'}" style="background-color:{{ winningColor($parent.$index) }}">
      <div class="col s12 l5">
        <div class="card-panel white minH dark-pink-text">
          <span>{{card.text}}</span>
          <span id='selection-number' ng-show="firstAnswer($index)"> 1 </span>
          <span id='selection-number' ng-show="secondAnswer($index)"> 2 </span>
        </div>
      </div>
    </div>
  </span>
  </div>
  <div  class="card-panel dark-pink" id="czar-blank-container" ng-show="isCzar() && game.table.length===0 && game.state !== 'game dissolved' && game.state !== 'awaiting players'">
    <div id="czar-blank-inner" class="white-text fsize center"><strong>
    You are the Card Czar.</strong><br>
    <small id="smaller-text center white-text" class="pad20">Players are choosing their answers. Prepare to select a winner.</small>
  </div>
  <div id='charity-fact-container' class="white center pad20 marg20">
    <div id='charity-fact-tagline' class="dark-pink-text padLB">Did you know?</div>

    <div id='charity-fact' class="dark-pink-text">
      {{ makeAWishFact }}
    </div>

    <div id='charity-logo-container'>
      <img src='/img/make-a-wish-logo.png'/>
    </div>
  </div>
</div>

  <div id="info-container" class="card-panel dark-pink" ng-show="game.state === 'awaiting players'">
    <div class="card-panel minHeight dark-pink">
      <h4 class="center white-text">How to play</h4>
      <hr>
      <ol class="padHtp">
        <li class="white-text padLB">
          Each player begins with, and will always have, 10 white answer cards.
        </li>
        <li class="white-text padLB">
          For each round, one player is randomly chosen as the Card Czar.
        </li>
        <li class="white-text padLB">
          Everyone else answers the black question card by clicking on the answer card they want to use.
        </li>
        <li class="white-text padLB">
          The Card Czar then picks a favorite answer, and whoever played that answer wins the round.
        </li>
        <li class="white-text padLB">
          Want to adorn your avatar with a glorious crown? Donate to charity after the game!
        </li>
      </ol>
    </div>
  </div></div>

  <div id="game-end-container" class="card-panel dark-pink" ng-show="game.state === 'game ended' || game.state ==='game dissolved'">
    <div id="inner-info-exit" ng-show="game.state === 'game ended' || game.state ==='game dissolved'">
      <div class="center fsize white-text" ng-show="game.state ==='game dissolved' && game.gameWinner === -1">
        <h4>What would you like to do now?</h4>
        You might consider donating to charity to atone for the horrifying answers you've submitted. Donating will also place a lovely crown on your avatar's head.
      </div>
      <div class="center fsize white-text" ng-show="game.state === 'game ended' || game.gameWinner !== -1">
        <h4>What would you like to do now?</h4>
        Help yourself to another game or help a child in need? Donating will also place a lovely crown on your avatar's head.
      </div>
      <div id='inner-text-container' class="center fsize marg20">
        <a href='/#!/app'>
        <div id="join-new-game" ng-click="game.joinGame('joinNewGame')" class="white-text btn">
          Join a New Game
        </div></a>
        <a href='/'>
          <div id="exit-match" class="white-text btn">
          Return to Lobby
          </div>
        </a>
      </div>
    </div>

    <div id="charity-widget-container" class="flex just marg20">
      <!-- This is real -->
      <a href="http://www.crowdrise.com" id="crowdriseStaticLink-fundraiser-121142" title="Fundraising Websites on Crowdrise">Fundraising Websites - Crowdrise</a>
      <script type="text/javascript" class="center" src="https://www.crowdrise.com/widgets/donate/fundraiser/121142/?callback=userDonationCb"></script>
    </div>
  </div>
</div>
