<div id="question-container-inner">
  <div class="card longBlack">
    <span ng-bind-html-unsafe="game.curQuestion.text" ng-hide="game.state === 'game ended' || game.state ==='game dissolved' || game.state === 'awaiting players'"></span>

    <div id="notifications" ng-if="game.notification" ng-animate="{enter:'animated fadeInLeft', leave:'animated fadeOut'}">{{game.notification}}</div>

    <div id="startGame" ng-show="game.state === 'awaiting players'">
      <div id="finding-players">Finding Players</div>
      <div id="player-count-container">
        <div id="player-count">{{game.players.length}} / 12</div>
        <div id="the-word-players"> Players </div>
      </div>
      <div id="loading-container">
        <div id="loading-gif"><img ng-src="../img/loader.gif"/></div>
      </div>
      <div id="start-game-container"  ng-show="(game.playerIndex === 0 || game.joinOverride) ">
        <div id='start-game-button' data-toggle="modal" data-target="#preGameModal" >
          PLEASE  <br/> CLICK HERE TO BEGIN
        </div>


        <!-- Modal -->
        <div class="modal fade" id="preGameModal" tabindex="-1" role="dialog" aria-labelledby="preGameModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>You would need a minimum of 3 Players to begin the game </p>
                <p>Would You Like To Find More Players And Start The Game</p>
              </div>
              <div class="modal-footer">
                <button type="button"   class="btn btn-secondary" data-dismiss="modal" >No</button>
                <button type="button" data-toggle="modal" data-dismiss="modal" data-target="#startGameModal"  class="btn btn-primary">Yes</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Modal -->
        <div class="modal " id="preGameModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>Would you like to start the game? </p>
              </div>
              <div class="modal-footer">
                <button type="button"  ng-click="hideModalPreGame()" class="btn btn-secondary" >No</button>
                <button type="button" ng-click="startGame()"  class="btn btn-primary">Yes</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End of preGameModal -->
    
    <!-- Modal -->
    <div class="modal fade" id="startGameModal"  tabindex="-1" role="dialog" aria-labelledby="startGameModalLabel"  aria-hidden="true">
      <div class="modal-dialog" role="document" >
        <div class="modal-content" style="background-color: black">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" >
            <div id="finding-players">Finding Players</div>
            <div id="player-count-container">
              <div><p >{{game.players.length}} / 6</p> </div>
              <div id=""> Players </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button"  ng-click="startGame()" data-dismiss="modal" ng-show="game.players.length >= game.playerMinLimit" class="btn btn-primary">Start Game</br>with {{game.players.length}} players</button>
          </div>
        </div>
      </div>
    </div>
    <!-- End of startGameModal -->

    <!-- Game Over Stuff -->
    <div id="game-end-info">
      <div id="people-left-game-top" ng-show="game.state ==='game dissolved' && game.gameWinner === -1">
        <div class="game-end-headline">What the!? The game ended because too many people left! </div>
        Our sincere apologies.
      </div>
      <div ng-show="game.state === 'game ended' && game.gameWinner === game.playerIndex">
        <div class="game-end-headline">Congratulations! You won the game, {{game.players[game.playerIndex].username | upperFirstLetter}}!</div>We hope you feel special. If you'd like to share that special feeling with the world, consider donating to charity. Or just horde it all for youself.
      </div>
      <div ng-show="game.state === 'game ended' && game.gameWinner !== game.playerIndex">
        <div class="game-end-headline">Aw, shucks! {{game.players[game.gameWinner].username | upperFirstLetter }} won the game!</div>
        That makes you a loser, unfortunately.
      </div>
    </div>
  </div>
</div>

