<div class="card-panel minHeight">
  <h1 id="time" class="center timer dark-pink-text" ng-bind="game.time">13</h1>
  <div class="timedesc">
    <p id="timer-status-round" class="white-text center" ng-hide="game.state === 'winner has been chosen' || game.state === 'waiting for czar to decide'" style="padding: 0 auto;"><b>Time Remaining</b></p>
    <p id="timer-status-czar-choosing" class="white-text center" ng-show="game.state === 'winner has been chosen'" style="padding: 0 auto;"><b>Next Round In</b></p>
    <p id="timer-status-czar-choosing" class="white-text center" ng-show="game.state === 'waiting for czar to decide'" style="padding: 0 auto;"><b>Czar Choosing</b></p>
  </div>
</div>