/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 450px;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

.custom-parallax .section {
  width: 100%;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

/* custom modifications */
.custom-parallax{
  display: block;
  background-attachment: fixed;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.custom-parallax-1{
  background-image: url(/img/header-bg.png);
}

.custom-parallax-2{
  background-image: url(/img/background2.jpg);
}

.charity-iframe{
  width: 100%;
  height: 300px;
}

.btn.lighter-pink:hover, .btn-large.lighter-pink:hover {
  background-color: #540032;
}

.btn.dark-pink:hover, .btn-large.dark-pink:hover {
  background-color: #540032;
}

.custom-btn{
  border-radius: 5px !important;
}

.marg25{
  margin-right: 25px;
}

.marg20{
  margin-top: 20px;
}

.width50{
  width: 50% !important;
}

.description-section{
  position: relative;
  overflow: hidden;
}

.description-section img{
  position: absolute;
  top: 90px;
  right: -150px;
  width: 30%;
  z-index: 0;
  transform: rotate(-45deg);
  transition: all 0.5s ease-in-out;
}

.description-section img:hover{
  cursor: pointer;
  right: 100px;
  transform: rotate(0deg);
}

.dark-pink{
  background-color: #2e112d;
}

.lighter-pink{
  background-color: #540032;
}

.dark-blue{
  background-color: #002859; 
}

.dark-pink-text{
  color: #2e112d;
}

.lighter-pink-text{
  color: #540032;
}

.dark-blue-text{
  color: #002859; 
}

.dark-overlay{
  background-color: rgba(0, 0, 0, .7);
}

.htp-cards{
  min-height: 320px;
  text-align: center;
}

.rounded{
  border-radius: 50%;
}

.card .card-image{
  overflow: hidden;
}

.card-image img{
  transition: all .5s ease-in-out;
}

.card{
  transition: all .5s ease-in-out;
}

.card:hover{
  cursor: pointer;
  -webkit-box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
}

.card:hover .card-image img{
  transform: scale(1.1);
}

/* .fadeInLater{
  animation: fadeInLater .5s ease-in-out .8s;
}

@keyframes fadeInLater {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
} */
